<div class="item">
  <div class="card-horizontal">
    <%= cl_image_tag mentor.photo.key, class: "card-avatar" %>
    <div class="card-info">
      <div class="card-fullname"><%= mentor.first_name %> <%= mentor.last_name %></div>
      <div class="card-position"><%= mentor.experiences.last.position.capitalize %></div>
      <div class="tags">
        <div class="card-tag">#<%= mentor.experiences.last.sector %></div>
        <div class="card-tag">#<%= mentor.experiences.last.industry %></div>
      </div>
    </div>
  </div>
</div>
