<div class="item">
  <div class="card-mentor-horizontal">
    <%= cl_image_tag mentor.photo.key, class: "card-avatar" %>
    <div class="card-info">
      <div class="card-fullname"><%= mentor.first_name %> <%= mentor.last_name %></div>
      <div class="card-position"><%= mentor.experiences.last.position.capitalize %></div>
      <div class="card-sector-industry"><%= mentor.experiences.last.sector.capitalize %> - <%= mentor.experiences.last.industry.capitalize %></div>
    </div>
  </div>
</div>
