<h1>Welcome <% @user %></h1>

<h2>Here are your conversations</h2>
  <% if @user.status = "student" %>
    <ul>
      <% @conversation_mentors.each do |mentor| %>
      <%# Add photo afterwards %>
      <li> Prénom = <%= mentor.first_name %> </li>
      <li> Nom = <%= mentor.last_name %> </li>
      <li> Age = <%= mentor.age %> </li>
      <li> Poste actuel = <%= mentor.experiences.first.position %> </li>
      <li> Entreprise actuelle = <%= mentor.experiences.first.company %> </li>
    </ul>
  <% end %>
  <% if @user.status = "mentor" %>
    <ul>
      <% @conversation_students.each do |student| %>
      <%# Add photo afterwards %>
      <li> Prénom = <%= student.first_name %> </li>
      <li> Nom = <%= student.last_name %> </li>
      <li> Age = <%= student.age %> </li>
    </ul>
  <% end %>

<h2>Here are your meetings</h2>
  <% if @user.status = "student" %>
    <ul>
      <% @meetings.each do |meeting| %>
      <%# Add photo afterwards %>
      <li> Prénom = <%= Mentor.find(meeting.mentor_id).first_name %> </li>
      <li> Nom = <%= Mentor.find(meeting.mentor_id).last_name %> </li>
      <li> Age = <%= Mentor.find(meeting.mentor_id).age %> </li>
      <li> Le = <%= meeting.starting %> </li>
    </ul>
  <% end %>
  <% if @user.status = "mentor" %>
    <ul>
      <% @meetings.each do |meeting| %>
      <%# Add photo afterwards %>
      <li> Prénom = <%= Student.find(meeting.student_id).first_name %> </li>
      <li> Nom = <%= Student.find(meeting.student_id).last_name %> </li>
      <li> Age = <%= Student.find(meeting.student_id).age %> </li>
      <li> Le = <%= meeting.starting %> </li>
    </ul>
  <% end %>
