<div class="banner-dashboard">
  <h2>Hello <%= @user.first_name %> ! Bienvenue sur ton tableau de bord 🗺️</h2>
</div>
<div class="container">


<%# Conversations %>
  <div class="d-flex">
    <div class="col-8 left-side">
      <h4>👋 Continue la conversation !</h4>
    <%# Conversations Preview %>
        <div class="d-flex conversations-card">
          <div class="preview-messages">
            <% if @user.status == "student" %>
              <% @conversations.each do |conversation| %>
                <div class="chat-card">
                  <%= cl_image_tag User.find(conversation.mentor_id).photo.key, crop: :fill, class: "card-avatar-dashboard" %>
                  <ul>
                    <li> <strong><%= User.find(conversation.mentor_id).first_name %> <%= User.find(conversation.mentor_id).last_name %></strong></li>
                    <li> <%= conversation.messages.last.content[0, 33]... %></li>
                  </ul>
                </div>
              <% end %>
            <% else %>
              <% @conversations.each do |conversation| %>
              <div class="chat-card">
                <%= cl_image_tag User.find(conversation.student_id).photo.key, crop: :fill, class: "card-avatar-dashboard" %>
                <ul>
                  <li><strong><%= User.find(conversation.student_id).first_name %> <%= User.find(conversation.student_id).last_name %></strong></li>
                  <li> <%= conversation.messages.last.content[0, 33]... %></li>
                </ul>
              </div>
              <% end %>
            <% end %>
        </div>

    <%# Chat %>
    <div class="dashboard-conversation mx-5" data-controller="conversation-subscription" data-conversation-subscription-conversation-id-value="<%= @conversation.id %>">
      <div class="messages flex-grow-1" data-conversation-subscription-target="messages">
          <% @conversation.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
      </div>

      <%= simple_form_for [@conversation, @message],
        html: { data: { action: "turbo:submit-end->conversation-subscription#resetForm" }, class: "d-flex text-submit-area"} do |f| %>
        <%= f.input :content, as: :string,
          label: false,
          placeholder: "Message",
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.submit "Envoyer", class: "btn btn-primary mb-3" %>
      <% end %>

    </div>
  </div>
</div>

<%# Meetings %>

  <%# Upcoming Meetings %>
    <div class="col-4 meetings">
      <div class="upcoming-meetings">
        <h4>🗓️ Tes futurs rendez-vous</h4>
          <% if @user.status == "student" %>
            <% @upcoming_meetings.each do |meeting| %>
              <%= link_to mentor_path(User.find(meeting.mentor_id)) do %>
                <div class="meeting-card">
                  <div class="d-flex">
                    <%= cl_image_tag User.find(meeting.mentor_id).photo.key, crop: :fill, class: "card-avatar-dashboard" %>
                    <div class="card-infos">
                      <ul>
                        <li> <h5><%= User.find(meeting.mentor_id).first_name %> <%= User.find(meeting.mentor_id).last_name %></h5></li>
                        <li> <strong><%= User.find(meeting.mentor_id).experiences.last.position %></strong> chez <%= User.find(meeting.mentor_id).experiences.last.company %></li>
                        <li> Le <strong><%= l(meeting.starting, format: '%-d %B %Y') %></strong> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>

          <% else %>
              <% @upcoming_meetings.each do |meeting| %>
              <div class="meeting-card">
              <%= cl_image_tag User.find(meeting.student_id).photo.key, height: 300, width: 400, crop: :fill, class: "card-avatar-dashboard" %>
                <li> <h5><%= User.find(meeting.student_id).first_name %> <%= User.find(meeting.student_id).last_name %></h5></li>
                <li> <%= User.find(meeting.student_id).experiences.last.position %> chez <%= User.find(meeting.student_id).experiences.last.company %></li>
                <li> Le <strong><%= l(meeting.starting, format: '%-d %B %Y') %></strong> </li>
              </div>
              <% end %>
            <% end %>
          </ul>
      </div>
  <%# Past Meetings %>
    <div class="past-meetings">
      <h4>🗓️ Tes prédédents rendez-vous</h4>
        <% if @user.status == "student" %>
          <% @past_meetings.each do |meeting| %>
            <%= link_to mentor_path(User.find(meeting.mentor_id)) do %>
              <div class="meeting-card">
                <%= cl_image_tag User.find(meeting.mentor_id).photo.key, height: 100, width: 100, crop: :fill, class: "card-avatar-dashboard" %>
                  <div class="card-infos">
                    <ul>
                      <li> <h5><%= User.find(meeting.mentor_id).first_name %> <%= User.find(meeting.mentor_id).last_name %></h5></li>
                      <li> <strong><%= User.find(meeting.mentor_id).experiences.last.position %></strong> chez <%= User.find(meeting.mentor_id).experiences.last.company %></li>
                      <li> Le <strong><%= l(meeting.starting, format: '%-d %B %Y') %></strong> </li>
                    <ul>
                  </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <% @past_meetings.each do |meeting| %>
            <div>
              <%= cl_image_tag User.find(meeting.student_id).photo.key, height: 300, width: 400, crop: :fill, class: "card-avatar-dashboard" %>
              <li> Prénom = <%= User.find(meeting.student_id).first_name %> </li>
              <li> Nom = <%= User.find(meeting.student_id).last_name %> </li>
              <li> Age = <%= User.find(meeting.student_id).age %> </li>
              <li> Le <strong><%= l(meeting.starting, format: '%-d %B %Y') %></strong> </li>
            </div>
            <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
