<% if user_signed_in? %>
  <div class="banner" id="banner-logged">
    <h1>PERSPECTIV</h1>
    <h2>Welcome back <%= current_user.first_name %></h2>
  </div>

</div>
  <div class="container">
    <div class="section">
      <div class="d-flex justify-content-between mb-3">
        <h3>Les mentors à découvrir</h3>
        <%= link_to "Voir plus", mentors_path, class:"btn-purple"%>
      </div>
      <div class="scroll-horizontal">
        <%= render "shared/item_carousel", mentor: @mentors[1] %>
        <%= render "shared/item_carousel", mentor: @mentors[2] %>
        <%= render "shared/item_carousel", mentor: @mentors[3] %>
        <%= render "shared/item_carousel", mentor: @mentors[4] %>
      </div>
    </div>

    <div class="section">
      <div class="d-flex justify-content-between">
        <h3>Notre sélection de vidéos pour toi</h3>
        <%= link_to "Voir plus", mentors_path, class:"btn-purple"%>
      </div>
      <div class="videos-shortlist">
        <div class="card-video-horizontal"></div>
      </div>
    </div>
  </div>

<% else %>
  <div class="banner">
    <h1>PERSPECTIV</h1>
    <h2>Find your way</h2>
    <%= link_to 'Créer un compte', new_user_registration_path, class: "btn-home" %>
  </div>

  <div class="container">
    <div class="home-steps">
      <div class="step-home">
        <i class="fa-solid fa-user-plus"></i>
        <h4>Inscris-toi</h4>
        <p>Réponds à un quizz rapide pour cerner tes ambitions et préférences</p>
      </div>
      <div class="step-home">
        <i class="fa-solid fa-globe"></i>
        <h4>Découvre les profils des mentors</h4>
        <p>Accède à un panel de profils ciblés selon les résultats de ton quizz</p>
      </div>
      <div class="step-home">
        <i class="fa-solid fa-comments"></i>
        <h4>Discute et rencontre</h4>
        <p>Discute avec les mentors via notre chat et réserve de courts entretiens avec eux</p>
      </div>
    </div>
  </div>
<% end %>
