<div class="gradient-background" >
  <div class="container" data-controller="search-mentors">
    <div class="filters">
    <%# search avec texte %>
      <div class= "form-home" >
        <%= form_with url: mentors_path, method: :get, class: "d-flex", html: { 'data-search-mentors-target' => 'form' } do |f| %>
          <%= text_field_tag :query,
                              params[:query],
                              class: "search-words search-mentor",
                              placeholder: "Trouve ton Mentor... ",
                              data: {
                                search_mentors_target: "input",
                                action: "keyup->search-mentors#update"
                              } %>
          <%= f.select :position,
                        options_for_select(
                          Experience.all.pluck(:position).uniq.sort,
                          selected: params[:position],
                        ),
                        { include_blank: 'Poste' },
                        'data-action' => 'change->search-mentors#update',
                        'data-search-mentors-target': 'positionInput',
                        class: "search-words"%>
          <%= f.select :sector,
                        options_for_select(
                          Experience.all.pluck(:sector).uniq.sort,
                          selected: params[:sector]
                        ),
                        { include_blank: "Secteur" },
                        'data-action' => 'change->search-mentors#update',
                        'data-search-mentors-target': 'sectorInput',
                        class: "search-words" %>
          <%= f.select :industry,
                        options_for_select(
                          Experience.all.pluck(:industry).uniq.sort,
                          selected: params[:industry]
                        ),
                        {include_blank: "Industrie"},
                        'data-action' => 'change->search-mentors#update',
                        'data-search-mentors-target': 'industryInput',
                        class: "search-words" %>
          <%= f.select :field,
                        options_for_select(
                          Education.all.pluck(:field).uniq.sort,
                          selected: params[:field]
                        ),
                        {include_blank: "Domaine d'études"},
                        'data-action' => 'change->search-mentors#update',
                        'data-search-mentors-target': 'fieldInput',
                        class: "search-words" %>
        <% end %>
        <%= link_to "Supprimer tous les filtres", mentors_path, class: "sup-filter" %>
      </div>
    </div>
    <div data-search-mentors-target="list" class="list-mentors">
      <%= render "list", mentors: @mentors %>
    </div>
    </div>
</div>
