#Information Banner

<h3> <%= @mentor.first_name %> <%= @mentor.last_name %></h3>
<p><%=@mentor.description%></p>
<% if @mentor.photo.attached? %>
  <%= cl_image_path @mentor.photo.key, crop: :fill %>
<% else %>
  <p>No picture attached</p>
<% end%>



#Left - Carrière

<h3>Carrière</h3>
<%@experiences.each do |experience| %>
  <%= experience.position %>
  <%= experience.sector %>
  <%= experience.industry %>
  <%= experience.start_date %>
  <%= experience.end_date %>
  <%= experience.salary %>
<%end%>


#Left - Education

<h3>Etudes</h3>
<%@educations.each do |education| %>
  <%= education.institution.name %>
  <%= education.degree_level %>
  <%= education.field %>
  <%= education.start_date %>
  <%= education.end_date %>
<%end%>


#Right - conversation

<div class="">
  <div class="">
    <% @conversation.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user.first_name %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>

<%= simple_form_for [@conversation, @message],
  html: {class: "d-flex"} do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Envoyer", class: "btn btn-primary mb-3" %>
<% end %>

#Right - Meeting Booking

<%pattern = "%H:%M"  %>
<% time_slots.each do |slot| %>
  <%=simple_form_for @meeting do |f| %>
    <% f.hidden_field :starting, value: DateTime.parse(slot) %>
    <% f.hidden_field :ending, value: DateTime.parse(slot) + 1/24 %>
    <% f.hidden_field :student_id, value: current_user.id %>
    <% f.hidden_field :mentor_id, value: @mentor.id %>
    <%=f.submit DateTime.parse(slot).strftime(pattern)%>
  <%end%>
<%end%>
